<div style="background:url(/qtjtwj/images/login_bj.jpg) no-repeat center center; ">
    <div class="login-layout container">
        <div class="form-box register">
            <div class="tabs-nav">
                <h2>欢迎注册鞋运网账号<a href="/nxzmqt/user/login" class="pull-right fz16" style="text-decoration: none"
                                id="reglogin">返回登录</a></h2>
            </div>
            <div class="tabs_container">
                <form class="tabs_form" action="javascript:void (0);" method="post" id="register_form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            </div>
                            <input class="form-control phone" name="phone" id="register_phone" required
                                   placeholder="用户名"
                                   autocomplete="off" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                            </div>
                            <input class="form-control phone" name="register_email" id="register_email" required
                                   placeholder="邮箱"
                                   autocomplete="off" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input style="margin-top: 12px;margin-bottom: 12px" type="radio" name="sex"
                                   value="1" checked="checked">男
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="sex"
                                   value="0">女
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </div>
                            <input class="form-control password" name="password" id="register_pwd" placeholder="请输入密码"
                                   autocomplete="off" type="password">
                            <div class="input-group-addon pwd-toggle" title="显示密码"><span
                                    class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input checked="" id="register_checkbox" type="checkbox"><i></i> 同意<a
                                style="text-decoration: none" href="/nxzmqt/temp_article/xyw_yonghuxieyi">鞋运网用户协议</a>
                        </label>
                    </div>
                    <!-- 错误信息 -->
                    <div class="form-group">
                        <div class="error_msg" id="register_error"></div>
                    </div>
                    <button class="btn btn-large btn-primary btn-lg btn-block submit" id="register_submit"
                            type="button" >
<!--                        onclick="register_qt();"-->
                        注册
                    </button>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                switch ($.getUrlParam('p')) {
                    case 'login':
                        $('.login').show();
                        break;
                    default:
                        $('.register').show();
                }
                ;
                // 确定按钮
                $('.submit').click(function () {
                    var form = $(this).parents('form')
                    var phone = form.find('input.phone');
                    var pwd = form.find('input.password');
                    var error = form.find('.error_msg');
                    // 验证用户名
                    switch (phone.validatemobile()) {
                        case 1:
                            error.html(msgtemp('<strong>手机号为空</strong> 请输入手机号', 'alert-warning'));
                            return;
                            break;
                    }
                    // 验证密码复杂度
                    switch (pwd.validatepwd()) {
                        case 1:
                            error.html(msgtemp('<strong>密码不能为空</strong> 请输入密码', 'alert-warning'));
                            return;
                            break;
                        case 2:
                            error.html(msgtemp('<strong>密码过短</strong> 请输入6位以上的密码', 'alert-warning'));
                            return;
                            break;
                        case 3:
                            error.html(msgtemp('<strong>密码过于简单</strong><br>密码需为字母、数字或特殊字符组合', 'alert-warning'));
                            return;
                            break;
                    }

                    register_qt();
                });
            });

            //判断邮箱格式
            $("#register_email").change(function () {
                if (checkEmail()) {
                } else
                    alert("邮箱格式不正确！");
            });
            //注册
            function register_qt() {
                var sexvalue=$("input[name='sex']:checked").val();
                var user = {};
                user.userName = $("input[name='phone']").val();
                user.passWord = $("input[name='password']").val();
                if (sexvalue=='1'){user.sex='男';}else {
                    user.sex='女';
                }
                user.email=$("input[name='register_email']").val();
                console.log(user.email);
                if(user.email==null||user.email==undefined||user.email==""){
                    alert("请输入邮箱账号");
                    return;
                }

                if (!checkEmail())
                    return;

                $.ajax({
                    url: "/shone_qt/register",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    dataType: "json",
                    success: function (data) {

                        if (data.status == 200) {
                            alert("注册成功，请自行前往登录");
                        } else {
                            alert(data.message);
                        }
                    }

                })

            }

            function checkEmail() {
                var email = $("#register_email").val();
                // console.log(email);
                var temp = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
                if (temp.test(email)) {
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    </div>
</div>