<main class="ftdms-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <form method="post" action="#!" class="site-form">
                            <input id="aaa" type="hidden" th:value="${session.UserInfo.userId}">
                            <input id="kkk" type="hidden" th:value="${session.UserInfo.passWord}">
                            <input id="bbb" type="hidden" th:value="${session.UserInfo.email}">
                            <div class="form-group">
                                <label for="old-password">旧密码</label>
                                <input type="password" class="form-control" name="oldpwd" id="old-password" placeholder="输入账号的原登录密码">
                            </div>
                            <div class="form-group">
                                <label for="new-password">新密码</label>
                                <input type="password" class="form-control" name="newpwd" id="new-password" placeholder="输入新的密码">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">确认新密码</label>
                                <input type="password" class="form-control" name="confirmpwd" id="confirm-password" placeholder="请再次输入新密码">
                            </div>
                            <button id="xiugaimima" type="button" class="btn btn-primary">确认修改</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<script type="text/javascript">
    //匹配密码
    $("#old-password").change(function () {
        var sessionOldPassword=$("#kkk").val();
        var oldPassword=$("#old-password").val();
        $.ajax({
            url:"/shone/md5password?oldPassword="+oldPassword,
            type:"post",
            data:oldPassword,
            dataType:"text",
            success:function (data) {
                if (data!=sessionOldPassword){
                    alert("原密码不正确！请确定是本人操作！！！");
                    return;
                }

            }

        })

    })

    var userId=$("#aaa").val();
    var email=$("#bbb").val();

    //匹配两次密码是否相同
    $("#confirm-password").change(function () {
        var newPassword=$("#new-password").val();
        var confimPassword=$("#confirm-password").val();
       if (newPassword!=confimPassword){
           alert("两次密码输入不相同，请重新输入！");
           return;
       }
    })
    //确认修改密码
    $("#xiugaimima").on("click",function () {

        var newPassword=$("#new-password").val();
        var confimPassword=$("#confirm-password").val();
        var user={}
        user.email=email;
        user.userId=userId;
        user.passWord=newPassword;
        console.log(newPassword);
        if (newPassword!=confimPassword){
            alert("两次密码输入不相同，请重新输入！");
            return;
        }

        $.ajax({
            url:"/shone/password",
            type: "put",
            contentType: "application/json",
            data: JSON.stringify(user),
            dataType: "text",
            success:function () {
                alert("亲前往邮箱确认！");
                $("#old-password").val("");
                $("#new-password").val("");
                $("#confirm-password").val("");
            }
        })



    })

</script>