<script src="/js/highcharts/jquery-1.8.3.min.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/highcharts-3d.js"></script>
<script src="/js/highcharts/exporting.js"></script>
<script src="/js/highcharts/highcharts-zh_CN.js"></script>
<main class="ftdms-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card bg-primary">
                    <div class="card-body clearfix">
                        <div class="pull-left">
                            <p class="h6 text-white m-t-0">今日收入</p>
                            <p id="today_money" class="h3 text-white m-b-0"></p>
                        </div>
                        <div class="pull-right"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="ftsucai-56 fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-danger">
                    <div class="card-body clearfix">
                        <div class="pull-left">
                            <p class="h6 text-white m-t-0">昨日收入</p>
                            <p id="yesterday_money" class="h3 text-white m-b-0"></p>
                        </div>
                        <div class="pull-right"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="ftsucai-310 fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-success">
                    <div class="card-body clearfix">
                        <div class="pull-left">
                            <p class="h6 text-white m-t-0">月度累计收入</p>
                            <p id="this_month_money" class="h3 text-white m-b-0"></p>
                        </div>
                        <div class="pull-right"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="ftsucai-55 fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card bg-purple">
                    <div class="card-body clearfix">
                        <div class="pull-left">
                            <p class="h6 text-white m-t-0">年度累计收入</p>
                            <p id="this_year_money" class="h3 text-white m-b-0"></p>
                        </div>
                        <div class="pull-right"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="ftsucai-310 fa-1-5x"></i></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div id="container"></div>
                        <script type="text/javascript">
                            // JS 代码
                            const data_month = [];
                            for (let i = 0; i < 12; i++) {
                                data_month[i] = null;
                            }
                            $(function () {

                                $.ajax({
                                    url: "/shone/order/orders_month",
                                    type: "post",
                                    dataType: "json",
                                    success: function (da) {
                                        $.each(da, function (i, m) {

                                            if (parseInt(m.orderTradingTimeDetail.substring(5, 6)) == 0) {
                                                data_month[parseInt(m.orderTradingTimeDetail.substring(6, 7)) - 1] += m.orderProductTotalPrice;
                                            }
                                            if (parseInt(m.orderTradingTimeDetail.substring(5, 6)) == 1) {
                                                data_month[parseInt(m.orderTradingTimeDetail.substring(5, 7)) - 1] += m.orderProductTotalPrice;
                                            }

                                        })

                                        var chart = Highcharts.chart('container', {
                                            chart: {
                                                type: 'column',
                                                margin: 75,
                                                options3d: {
                                                    enabled: true,
                                                    alpha: 10,
                                                    beta: 25,
                                                    depth: 70,
                                                    viewDistance: 100,      // 视图距离，它对于计算角度影响在柱图和散列图非常重要。此值不能用于3D的饼图
                                                    frame: {                // Frame框架，3D图包含柱的面板，我们以X ,Y，Z的坐标系来理解，X轴与 Z轴所形成
                                                        // 的面为bottom，Y轴与Z轴所形成的面为side，X轴与Y轴所形成的面为back，bottom、
                                                        // side、back的属性一样，其中size为感官理解的厚度，color为面板颜色
                                                        bottom: {
                                                            size: 12
                                                        },
                                                        side: {
                                                            size: 1,
                                                            color: 'transparent'
                                                        },
                                                        back: {
                                                            size: 1,
                                                            color: 'transparent'
                                                        }
                                                    }
                                                },
                                            },
                                            title: {
                                                text: '本年度每月业绩展示柱状图'
                                            },
                                            subtitle: {
                                                text: '————未来可期，加油'
                                            },
                                            plotOptions: {
                                                column: {
                                                    depth: 25
                                                }
                                            },
                                            xAxis: {
                                                categories: Highcharts.getOptions().lang.shortMonths
                                            },
                                            yAxis: {
                                                title: {
                                                    text: null
                                                }
                                            },
                                            series: [{
                                                name: '销售额',
                                                data: data_month
                                            }]
                                        });
                                    }
                                })
                            })
                        </script>
                    </div>
                </div>
            </div>


        </div>

        <!--        饼状图-->
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div id="container_provence" style="height: 400px"></div>
                        <script type="text/javascript">
                            // JS 代码
                            var provence = [];


                            $(function () {

                                $.ajax({
                                    url: "/shone/order/orders_provence",
                                    type: "post",
                                    dataType: "json",
                                    success: function (da) {
                                        // console.log(da);
                                        $.each(da, function (i, m) {
                                            var provence_1 = [];
                                            provence_1[0] = m.orderProvince;
                                            provence_1[1] = m.orderId;
                                            // console.log(provence_1);
                                            provence[i] = provence_1;
                                        })


                                        // console.log(provence);

                                        var chart = Highcharts.chart('container_provence', {
                                            chart: {
                                                type: 'pie',
                                                options3d: {
                                                    enabled: true,
                                                    alpha: 45,
                                                    beta: 0
                                                }
                                            },
                                            title: {
                                                text: '本年度买家所在地区示例图'
                                            },
                                            tooltip: {
                                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                            },
                                            plotOptions: {
                                                pie: {
                                                    allowPointSelect: true,
                                                    cursor: 'pointer',
                                                    depth: 35,
                                                    dataLabels: {
                                                        enabled: true,
                                                        format: '{point.name}'
                                                    }
                                                }
                                            },
                                            series: [{
                                                type: 'pie',
                                                name: '省份占比',
                                                data: provence
                                                // data: [
                                                //     ['Firefox', 45.0],
                                                //     ['IE', 26.8],
                                                //     ['Chrome', 12.8],
                                                //     ['Safari', 8.5],
                                                //     ['Opera', 6.2],
                                                //     ['Others', 0.7]
                                                // ]
                                            }]
                                        });
                                    }
                                })
                            })

                        </script>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">

                        <div id="container_type" style="height: 400px"></div>
                        <script>
                            // JS 代码
                            var types = [];
                            $(function () {

                                $.ajax({
                                    url: "/shone/order/orders_types",
                                    type: "post",
                                    dataType: "json",
                                    success: function (da) {
                                        $.each(da, function (i, m) {
                                            var type=[];
                                            type[0]=m.category.name;
                                            type[1]=m.orderId;
                                            types[i]=type;
                                        });

                                        var chart = Highcharts.chart('container_type', {
                                            chart: {
                                                type: 'pie',
                                                options3d: {
                                                    enabled: true,
                                                    alpha: 45
                                                }
                                            },
                                            title: {
                                                text: '版型销售情况比例图'
                                            },
                                            subtitle: {
                                                text: '版型需求很重要'
                                            },
                                            plotOptions: {
                                                pie: {
                                                    innerSize: 100,
                                                    depth: 45
                                                }
                                            },
                                            series: [{
                                                name: '数量/件',
                                                data: types
                                            }]
                                        });
                                    }
                                })
                            })

                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            initTodayMoney();
            initYesterdayMoney();
            initThisMonthMoney();
            initThisYearMoney();
        })
        function initTodayMoney() {
            $.ajax({
                url:"/shone/order/order_today_money",
                type:"post",
                dataType:"json",
                success:function (data) {
                        $("#today_money").text(data.orderProductTotalPrice);
                }
            })

        }
        function initYesterdayMoney() {
            $.ajax({
                url:"/shone/order/order_yesterday_money",
                type:"post",
                dataType:"json",
                success:function (data) {
                        $("#yesterday_money").text(data.orderProductTotalPrice);
                }
            })

        }
        function initThisMonthMoney() {
            $.ajax({
                url:"/shone/order/order_this_month_money",
                type:"post",
                dataType:"json",
                success:function (data) {

                    console.log(data);
                    $("#this_month_money").text(data.orderProductTotalPrice);
                }
            })

        }
        function initThisYearMoney() {
            $.ajax({
                url:"/shone/order/order_this_year_money",
                type:"post",
                dataType:"json",
                success:function (data) {

                    console.log(data);
                    $("#this_year_money").text(data.orderProductTotalPrice);
                }
            })

        }
    </script>
</main>
