<aside class="ftdms-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <img src="/images/xyw.png" />
    </div>

    <div class="ftdms-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="/nxzm/user/mainpage"><i class="ftsucai-82"></i>后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-UI"></i> 管理员管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/user/users">用户列表</a> </li>
                        <li> <a href="/nxzm/role/roles">权限列表</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-edit-2"></i> 产品管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/product/products">产品列表</a> </li>
                        <li> <a href="/nxzm/brand/brands">品牌管理</a> </li>
                        <li> <a href="/nxzm/category/categories">分类管理</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-19"></i> 图片管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/product_other_image/product_other_images">商品图片信息</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-table"></i> 订单管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/order/orders">订单管理</a> </li>
                        <li> <a href="/nxzm/order/orders_payment_0">未付款订单</a> </li>
                        <li> <a href="/nxzm/order/orders_payment_1">已付款订单</a> </li>
                        <li> <a href="/nxzm/order/orders_send_0">待发货订单</a> </li>
                        <li> <a href="/nxzm/order/orders_send_1">已发货订单</a> </li>
                        <li> <a href="/nxzm/order/orders_back_money_1">已发起退货订单</a> </li>
                        <li> <a href="/nxzm/order/orders_status_0">未退款订单</a> </li>
                        <li> <a href="/nxzm/order/orders_status_1">已退款订单</a> </li>
                        <li> <a href="/nxzm/order/orders_confirm_0">未确认收货订单</a> </li>
                        <li> <a href="/nxzm/order/orders_confirm_1">已确认收货订单</a> </li>
                        <li> <a href="/nxzm/order/orders_review_0">未评论商品</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-js"></i> 评论管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/review/reviews">评价列表</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</aside>