<aside class="ftdms-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="http://www.ftsucai.com"><img src="/images/admin_logo.png" /></a>
    </div>

    <div class="ftdms-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="index.html"><i class="ftsucai-82"></i>后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-UI"></i> UI 元素</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="ui_buttons.html">按钮</a> </li>
                        <li> <a href="ui_cards.html">卡片</a> </li>
                        <li> <a href="ui_grid.html">格栅</a> </li>
                        <li> <a href="ui_icons.html">图标</a> </li>
                        <li> <a href="ui_tables.html">表格</a> </li>
                        <li> <a href="pagination.html">分页导航</a> </li>
                        <li> <a href="ui_progress.html">进度条</a> </li>
                        <li> <a href="ui_tabs.html">选项卡</a> </li>
                        <li> <a href="ui_step.html">步骤</a> </li>
                        <li> <a href="ui_other.html">其他</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-edit-2"></i> 表单元素</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="forms_elements.html">基本元素</a> </li>
                        <li> <a href="forms_radio.html">单选框</a> </li>
                        <li> <a href="forms_checkbox.html">复选框</a> </li>
                        <li> <a href="forms_switch.html">开关</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-19"></i> 示例页面</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="pages_config.html">网站配置</a> </li>
                        <li> <a href="pages_permission.html">设置权限</a> </li>
                        <li> <a href="pages_add_doc.html">新增文档</a> </li>
                        <li> <a href="pages_guide.html">表单向导</a> </li>
                        <li> <a href="pages_login.html">登录页面</a> </li>
                        <li> <a href="pages_error.html">错误页面</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-table"></i> 常用列表</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="pages_data.html">数据表</a> </li>
                        <li> <a href="pages_pbl.html">瀑布流</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-js"></i> 脚本插件</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="js_datepicker.html">日期选取</a> </li>
                        <li> <a href="js_sliders.html">滑块特效</a> </li>
                        <li> <a href="js_colorpicker.html">色码选取</a> </li>
                        <li> <a href="js_msg.html">对话框</a> </li>
                        <li> <a href="js_tags_input.html">标签插件</a> </li>
                        <li> <a href="js_notify.html">通知消息</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-315"></i> 统计图表</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="js_chartjs.html">Chartjs</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-25"></i> 多级菜单</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="#">一级菜单</a> </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="#">一级菜单</a>
                            <ul class="nav nav-subnav">
                                <li> <a href="#">二级菜单</a> </li>
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="#">二级菜单</a>
                                    <ul class="nav nav-subnav">
                                        <li> <a href="#">三级菜单</a> </li>
                                        <li> <a href="#">三级菜单</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="#">一级菜单</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</aside>