<aside class="ftdms-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <img src="/images/xyw.png" />
    </div>

    <div class="ftdms-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"> <a href="/nxzm/user/mainpage"><i class="ftsucai-82"></i>后台首页</a> </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-UI"></i> 管理员管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/user/users">用户列表</a> </li>
                        <li> <a href="/nxzm/role/roles">权限列表</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-edit-2"></i> 产品管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="/nxzm/product/products">产品列表</a> </li>
                        <li> <a href="forms_radio.html">品牌管理</a> </li>
                        <li> <a href="forms_checkbox.html">分类管理</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-19"></i> 图片管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="pages_config.html">商品图片信息</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-table"></i> 订单管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="pages_data.html">订单管理</a> </li>
                        <li> <a href="pages_pbl.html">未付款订单</a> </li>
                        <li> <a href="pages_pbl.html">已付款订单</a> </li>
                        <li> <a href="pages_data.html">待发货订单</a> </li>
                        <li> <a href="pages_pbl.html">已发货订单</a> </li>
                        <li> <a href="pages_data.html">未退款订单</a> </li>
                        <li> <a href="pages_pbl.html">已退款订单</a> </li>
                        <li> <a href="pages_data.html">未确认收货订单</a> </li>
                        <li> <a href="pages_pbl.html">已确认收货订单</a> </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ftsucai-js"></i> 评论管理</a>
                    <ul class="nav nav-subnav">
                        <li> <a href="js_datepicker.html">商品评论</a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</aside>