<!-- 右侧菜单 -->
<div class="right-nav">
    <ul class="r-with-gotop">
        <li class="r-toolbar-item">
            <a href="/nxzmqt/user/setting" class="r-item-hd">
                <i class="iconfont icon-user"></i>
                <div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="/nxzmqt/user/gouwuche" class="r-item-hd">
                <i class="iconfont icon-cart" data-badge="!"></i>
                <div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
            </a>
        </li>
        <li class="r-toolbar-item">
            <a href="/nxzmqt/qidaipage" class="r-item-hd">
                <i class="iconfont icon-liaotian"></i>
                <div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
            </a>
        </li>
<!--        <li class="r-toolbar-item">-->
<!--            <a href="/nxzmqt/user/fankui" class="r-item-hd">-->
<!--                <i class="iconfont icon-liuyan"></i>-->
<!--                <div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>-->
<!--            </a>-->
<!--        </li>-->
        <li class="r-toolbar-item to-top">
            <i class="iconfont icon-top"></i>
            <div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
        </li>
    </ul>
</div>