<header class="ftdms-layout-header">

    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <div class="ftdms-aside-toggler">
                    <span class="ftdms-toggler-bar"></span>
                    <span class="ftdms-toggler-bar"></span>
                    <span class="ftdms-toggler-bar"></span>
                </div>
                <span class="navbar-page-title"> 后台首页 </span>
            </div>

            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img id="topUserImage" class="img-qrcode img-qrcode-46" src="/images/user.png" alt="用户头像"/>
                        <!--使用这种就直接写属性-->
                        <shiro:principal property="userName"/>
                        <input type="hidden" id="topUserId" th:value="${session.UserInfo.userId}">
                        <!--和其他标签结合写法<input type="hidden" id="userIco" th:value="${session.UserInfo.userImg}">&ndash;&gt;-->
                        <span><span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/nxzm/user/profile"><i class="ftsucai-58"></i> 个人信息</a></li>
                        <li><a href="/nxzm/user/edituserpassword"><i class="ftsucai-edit-2"></i> 修改密码</a></li>
                        <li><a href="javascript:void(0)"><i class="ftsucai-del-2"></i> 清空缓存</a></li>
                        <li class="divider"></li>
                        <li><a href="/nxzm/user/logout"><i class="ftsucai-exit2"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</header>
<script type="text/javascript">
    $(function () {
        var user = {};
        user.userId = $("#topUserId").val();
        // console.log(user)
        $.ajax({
            url: "/shone/user/" + user.userId,
            type: "post",
            data: JSON.stringify(user),
            success: function (data) {

                if (data.object.image != null) {
                    console.log(data);
                    console.log(data.object.image);
                    $("#topUserImage").attr("src", data.object.image);
                }
            }

        })
    });
</script>