<!-- 顶部标题 -->
<div class="bgf5 clearfix">
    <div class="top-user">
        <div class="inner">
            <a class="logo" href=""><img src="/qtjtwj/images/nxzmqt.jpg"  class="cover"></a>
            <div class="title">个人中心</div>
        </div>
    </div>
</div>
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="pull-left bgf">
            <div class="title">鞋运网欢迎您</div>
            <dl class="user-center__nav">
                <dt>帐户信息</dt>
                <a href="/nxzmqt/user/setting"><dd>个人资料</dd></a>
                <a href="/nxzmqt/user/shouhuodizhi"><dd>收货地址</dd></a>
                <a href="/nxzmqt/user/xiugaimima1"><dd>修改密码</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>订单中心</dt>
                <a href="/nxzmqt/user/wodedingdan"><dd>我的订单</dd></a>
                <a href="/nxzmqt/user/tuihuo"><dd>退款/退货</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>服务中心</dt>
                <a href="/nxzmqt/user/wuliuchaxun"><dd>物流查询</dd></a>
                <a href="/nxzmqt/temp_article/xyw_shouhoufuwu"><dd>售后服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_peisongfuwu"><dd>配送服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yonghuxieyi"><dd>用户协议</dd></a>
                <a href="/nxzmqt/temp_article/xyw_changjianwenti"><dd>常见问题</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>鞋运网</dt>
                <a href="/nxzmqt/temp_article/xyw_qiyejianjie"><dd>企业简介</dd></a>
                <a href="/nxzmqt/temp_article/xyw_jiaruwomen"><dd>加入我们</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yinsishuoming"><dd  class="active">隐私说明</dd></a>
            </dl>
        </div>
        <div class="pull-right bgf">
            <div class="user-center__content">
                <div class="head-box">鞋运网-隐私说明</div>
                <div class="html-code">
                    <h3>2021-03-21 隐私说明规则</h3>
                    <pre>
    隐私权是您的重要权利。向我们提供您的个人信息是基于对我们的信任，相信我们会负责的态度对待您的个人信息。
我们认为您提供的信息只能用于帮助我们为您提供更好的服务。因此，我们制定了网上个人信息保密制度以保护您的个人信息。

    我们的个人信息保密制度摘要如下： 我们收集哪类个人信息？
通常，您能在匿名的状态下访问我们的网站并获取信息。在我们请求您提供有关信息之前，我们会解释这些信息的用途我们有些站点需要注册才能加入。
在通常情况下，这类注册只要求您提供一个电子邮件地址和一些诸如您的工作，职务一类的基本信息。
有时我们也会请您提供更多的信息。我们这样做是为了使我们更好的理解您的需求，以便向您提供有效的服务。
我们站点收集的信息包括姓名，地址和电话号码。您有权随时决定不接受来自我们的任何资料。

    保护您的隐私 我们将采取适当的步骤保护您的隐私。每当您提供给我们敏感信息时，我们将采取合理的步骤保护您的敏感信息，我们也将采取合理的安全手段保护已存储的个人信息。
除非根据法律或政府的强制性规定，在未得到您的许可之前，我们不会把您的任何个人信息提供给无关的第三方（包括公司或个人）。
但是，如果您要求我们提供特定客户支援服务或把一些物品送交给您，我们则需要把您的姓名和地址提供给第三者如运输公司。

    我们的网站将会提供第三者网站的链接。由于我们不能控制这些网站，所以我们建议您细阅这些第三者网站的个人信息保密制度。</pre>
                </div>
            </div>
        </div>
    </section>
</div>