<!-- 顶部标题 -->
<div class="bgf5 clearfix">
    <div class="top-user">
        <div class="inner">
            <a class="logo" href=""><img src="/qtjtwj/images/nxzmqt.jpg"  class="cover"></a>
            <div class="title">个人中心</div>
        </div>
    </div>
</div>
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="pull-left bgf">
            <div class="title">鞋运网欢迎您</div>
            <dl class="user-center__nav">
                <dt>帐户信息</dt>
                <a href="/nxzmqt/user/setting"><dd>个人资料</dd></a>
                <a href="/nxzmqt/user/shouhuodizhi"><dd>收货地址</dd></a>
                <a href="/nxzmqt/user/xiugaimima1"><dd>修改密码</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>订单中心</dt>
                <a href="/nxzmqt/user/wodedingdan"><dd>我的订单</dd></a>
                <a href="/nxzmqt/user/tuihuo"><dd>退款/退货</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>服务中心</dt>
                <a href="/nxzmqt/user/wuliuchaxun"><dd>物流查询</dd></a>
                <a href="/nxzmqt/temp_article/xyw_shouhoufuwu"><dd>售后服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_peisongfuwu"><dd>配送服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yonghuxieyi"><dd>用户协议</dd></a>
                <a href="/nxzmqt/temp_article/xyw_changjianwenti"><dd>常见问题</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>鞋运网</dt>
                <a href="/nxzmqt/temp_article/xyw_qiyejianjie"><dd  class="active">企业简介</dd></a>
                <a href="/nxzmqt/temp_article/xyw_jiaruwomen"><dd>加入我们</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yinsishuoming"><dd>隐私说明</dd></a>
            </dl>
        </div>
        <div class="pull-right bgf">
            <div class="user-center__content">
                <div class="head-box">鞋运网-企业简介</div>
                <div class="html-code">
                    <h3>企业简介</h3>
                    <p style="text-indent: 2em">这是我的第一个网站前台，</p>
                    <p style="text-indent: 2em">你可以在这个棒棒的平台上买好多东西，</p>
                    <p style="text-indent: 2em">如果这些东西也适合您的话，能为帮助您出点绵薄之力，我将感到荣幸！</p>
                    <p style="text-indent: 2em">偶尔的，有事没事来平台逛逛还是不错的，</p>
                    <p style="text-indent: 2em">当然这里的内容是并不是免费的，如果您的银子实在多的没地方花，非常欢迎您用银子来鞭挞我。</p>
                </div>
            </div>
        </div>
    </section>
</div>