<!-- 顶部标题 -->
<div class="bgf5 clearfix">
    <div class="top-user">
        <div class="inner">
            <a class="logo" href=""><img src="/qtjtwj/images/nxzmqt.jpg"  class="cover"></a>
            <div class="title">个人中心</div>
        </div>
    </div>
</div>
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="pull-left bgf">
            <div class="title">鞋运网欢迎您</div>
            <dl class="user-center__nav">
                <dt>帐户信息</dt>
                <a href="/nxzmqt/user/setting"><dd>个人资料</dd></a>
                <a href="/nxzmqt/user/shouhuodizhi"><dd>收货地址</dd></a>
                <a href="/nxzmqt/user/xiugaimima1"><dd>修改密码</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>订单中心</dt>
                <a href="/nxzmqt/user/wodedingdan"><dd>我的订单</dd></a>
                <a href="/nxzmqt/user/tuihuo"><dd>退款/退货</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>服务中心</dt>
                <a href="/nxzmqt/user/wuliuchaxun"><dd>物流查询</dd></a>
                <a href="/nxzmqt/temp_article/xyw_shouhoufuwu"><dd>售后服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_peisongfuwu"><dd  class="active">配送服务</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yonghuxieyi"><dd>用户协议</dd></a>
                <a href="/nxzmqt/temp_article/xyw_changjianwenti"><dd>常见问题</dd></a>
            </dl>
            <dl class="user-center__nav">
                <dt>鞋运网</dt>
                <a href="/nxzmqt/temp_article/xyw_qiyejianjie"><dd>企业简介</dd></a>
                <a href="/nxzmqt/temp_article/xyw_jiaruwomen"><dd>加入我们</dd></a>
                <a href="/nxzmqt/temp_article/xyw_yinsishuoming"><dd>隐私说明</dd></a>
            </dl>
        </div>
        <div class="pull-right bgf">
            <div class="user-center__content">
                <div class="head-box">服务中心-配送服务</div>
                <div class="html-code">
                    <h3>配送方式：</h3>
                    <p style="text-indent: 2em">我们在成都配送范围内，提供0起点免费配送服务。</p>
                    <h3>配送时间：</h3>
                    <p style="text-indent: 2em">我们在当天晚上22点之前下的订单，次日9点—19点进行商品配送（您可以根据此时间选择收货地址）。同时，为方便您的收货，在送货前我们的配送人员会与您电话联系，再次确认您的收货时间和地址。</p>
                    <p style="text-indent: 2em">成都地区配送范围： (如对配送范围有疑问，请详询客服88888888)</p>
                    <p style="text-indent: 2em">双流站新增2个楼盘的配送范围：双流花园小区、蓉城人家走廊</p>
                    <p style="text-indent: 2em">其他区的配送范围：金牛区、锦江区、武侯区。。。详情请见配送地图</p>
                </div>
            </div>
        </div>
    </section>
</div>
