<div id="roleEditModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">修改权限信息</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" name="roleId" id="editRoleId"/>
                <div class="form-group">
                    <label for="editname">权限名称</label>
                    <input type="text" class="form-control" name="name" id="editname"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="rRoleEditBtn" type="button" class="btn btn-default" data-dismiss="modal">确认修改</button>
            </div>
        </div>
    </div>
</div>
