<!-- 搜索栏 -->
<div class="top-search">
    <div class="inner">
        <a class="logo" href="../index.html"><img src="/qtjtwj/images/nxzmqt.jpg" alt="鞋运网" class="cover"></a>
        <div class="search-box">
            <form class="input-group">
                <input placeholder="Ta们都在搜鞋运网" type="text">
                <span class="input-group-btn">
						<button type="button">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
            </form>
        </div>
        <div class="cart-box">
            <a href="/nxzmqt/user/gouwuche" class="cart-but">
                <i class="iconfont icon-shopcart cr fz16"></i> 购物车
            </a>
        </div>
    </div>
</div>
<!-- 首页导航栏 -->
<div class="top-nav bg3">
    <div class="nav-box inner">
        <div class="all-cat">
            <div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
            <div class="cat-list__box">
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-shoes ce"></i> 鞋靴
                    </div>
                    <ul class="cat-list clearfix">
                        <li>男鞋</li>
                        <li>女鞋</li>
                        <li>儿童鞋</li>
                    </ul>
                    <div class="cat-list__deploy">
                        <div class="deploy-box">
                            <div class="genre-box clearfix">
                                <span class="title">男鞋：</span>
                                <div class="genre-list">
                                    <a href="/nxzmqt/sale/shone">男鞋专场</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">女鞋：</span>
                                <div class="genre-list">
                                    <a href="">女鞋专场</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">儿童鞋：</span>
                                <div class="genre-list">
                                    <a href="">儿童鞋专场</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-skirt ce"></i> 女装
                    </div>
                    <ul class="cat-list clearfix">
                        <li>下装</li>
                        <li>上装</li>
                        <li>裙装</li>
                        <li>内衣</li>
                    </ul>
                    <div class="cat-list__deploy">
                        <div class="deploy-box">
                            <div class="genre-box clearfix">
                                <span class="title">下装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">上装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">裙装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">内衣：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-fushi ce"></i> 男装
                    </div>
                    <ul class="cat-list clearfix">
                        <li>下装</li>
                        <li>上装</li>
                        <li>套装</li>
                    </ul>
                    <div class="cat-list__deploy">
                        <div class="deploy-box">
                            <div class="genre-box clearfix">
                                <span class="title">下装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">上装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">套装：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-bao ce"></i> 包包
                    </div>
                    <ul class="cat-list clearfix">
                        <li>女士包包</li>
                        <li>男士包包</li>
                    </ul>
                    <div class="cat-list__deploy">
                        <div class="deploy-box">
                            <div class="genre-box clearfix">
                                <span class="title">女士包包：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">男士包包：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cat-box">
                    <div class="title">
                        <i class="iconfont icon-kid ce"></i> 童装
                    </div>
                    <ul class="cat-list clearfix">
                        <li>女童</li>
                        <li>男童</li>
                        <li>男女童鞋</li>
                    </ul>
                    <div class="cat-list__deploy">
                        <div class="deploy-box">
                            <div class="genre-box clearfix">
                                <span class="title">女童：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">男童：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                            <div class="genre-box clearfix">
                                <span class="title">男女童鞋：</span>
                                <div class="genre-list">
                                    <a href="">牛仔裤</a>
                                    <a href="">短裤</a>
                                    <a href="">休闲裤</a>
                                    <a href="">打底裤</a>
                                    <a href="">丝袜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nva-list">
            <a href="/nxzmqt/mainpage">
                <li class="active">首页</li>
            </a>
            <a href="/nxzmqt/temp_article/xyw_qiyejianjie">
                <li>企业简介</li>
            </a>
            <a href="/nxzmqt/qidaipage">
                <li>新手上路</li>
            </a>
            <a href="/nxzmqt/qidaipage">
                <li>鞋运学堂</li>
            </a>
            <a href="/nxzmqt/qidaipage">
                <li>诚信合约</li>
            </a>
        </ul>
        <div class="user-info__box">
            <div class="login-box">
                <div class="avt-port">
                    <img src="/qtjtwj/images/icons/default_avt.png" alt="欢迎来到鞋运网" class="cover b-r50">
                </div>
                <!-- 已登录 -->
                <div id="islogin" class="name c6">Hi~ <span class="cr"><shiro:principal property="userName"/></span>
                </div>
                <!-- 未登录 -->
                <div id="notlogin" class="name c6"><a href="/nxzmqt/user/login" style="text-decoration: none">点此登录</a>，发现更多精彩
                </div>

                <div class="point c6">积分: 0(暂无积分功能)</div>
                <div class="report-box">
                    <span class="badge">+66</span>
                    <a class="btn btn-info btn-block disabled" href="#" role="button">签到功能暂未开放</a>
                </div>
            </div>
            <div class="agent-box">
                <a href="/nxzmqt/qidaipage" class="agent">
                    <i class="iconfont icon-fushi"></i>
                    <p>申请网店代销</p>
                </a>
                <a href="javascript:;" class="agent">
                    <i class="iconfont icon-agent"></i>
                    <p><span class="cr">9999</span>位代销商</p>
                </a>
            </div>
            <div class="verify-qq">
                <div class="title">
                    <i class="fake"></i>
                    <span class="fz12">真假客服验证-远离骗子</span>
                </div>
                <form class="input-group">
                    <input class="form-control" placeholder="输入客服手机号码" type="text">
                    <span class="input-group-btn">
							<button class="btn btn-primary submit" id="verifyqq" type="button">验证</button>
						</span>
                </form>
                <script>
                    $(function () {
                        $('#verifyqq').click(function () {
                            DJMask.open({
                                width: "400px",
                                height: "150px",
                                title: "鞋运网提示您：",
                                content: "<b>该手机不是客服-谨防受骗！</b>"
                            });
                        });
                    });
                </script>
            </div>
            <div class="tags">
                <div class="tag"><i class="iconfont icon-real fz16"></i> 品牌正品</div>
                <div class="tag"><i class="iconfont icon-credit fz16"></i> 信誉认证</div>
                <div class="tag"><i class="iconfont icon-speed fz16"></i> 当天发货</div>
                <div class="tag"><i class="iconfont icon-tick fz16"></i> 人工质检</div>
            </div>
        </div>
    </div>
</div>
<!-- 顶部轮播 -->
<div class="swiper-container banner-box">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="javascript:void (0)"><img src="/qtjtwj/images/temp/banner_1.jpg"
                                                                     class="cover"></a></div>
        <div class="swiper-slide"><a href="javascript:void (0)"><img src="/qtjtwj/images/temp/banner_2.jpg"
                                                                     class="cover"></a></div>
        <div class="swiper-slide"><a href="javascript:void (0)"><img src="/qtjtwj/images/temp/banner_3.jpg"
                                                                     class="cover"></a></div>
        <div class="swiper-slide"><a href="javascript:void (0)"><img src="/qtjtwj/images/temp/banner_4.jpg"
                                                                     class="cover"></a></div>
        <div class="swiper-slide"><a href="javascript:void (0)"><img src="/qtjtwj/images/temp/banner_5.jpg"
                                                                     class="cover"></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<!-- 首页楼层导航 -->
<nav class="floor-nav visible-lg-block">
    <span class="scroll-nav active">Boss推荐</span>
    <!--    <span class="scroll-nav">女装</span>-->
    <!--    <span class="scroll-nav">男装</span>-->
    <!--    <span class="scroll-nav">活力童装</span>-->
    <!--    <span class="scroll-nav">时尚包包</span>-->
    <!--    <span class="scroll-nav">鞋靴</span>-->
</nav>
<!-- 楼层内容 -->
<div class="content inner" style="margin-bottom: 40px;">
    <section class="scroll-floor floor-1 clearfix">
        <div class="pull-left">
            <div class="floor-title">
                <i class="iconfont icon-tuijian fz16"></i> 潮品推荐
                <a href="" class="more"><i class="iconfont icon-more"></i></a>
            </div>
            <div class="con-box">
                <a class="left-img hot-img" href="javascript:void(0)">
                    <img src="/qtjtwj/images/floor_3.jpg" alt="" class="cover">
                </a>
                <div id="shouyebaokuantuijian" class="right-box hot-box">

                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="floor-title">
                <i class="iconfont icon-horn fz16"></i> 平台公告
                <a href="udai_notice.html" class="more"><i class="iconfont icon-more"></i></a>
            </div>
            <div class="con-box">
                <div class="notice-box bgf5">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <a class="swiper-slide ep" href="udai_notice.html">【公告】U袋网平台已上线，您还在等什么呢？是吧~</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【资讯】P站服务器爆炸啦。国内86%地区IP被限制~</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【公告】六趣公司9月底将彻底关闭66RPG论坛~</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【资讯】Project1站将接盘66RPG，新域名rpg.blue</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】央行决定对普惠金融实施定向降准政策 最高下调1.5个百分点</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】那些年看的剧里十大虐心情节，谁戳中了你的泪点？</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】惨遭魔改？派拉蒙将拍真人版《你的名字。》</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】外媒称中国限制日本跟团游?旅行社:仍正常发团</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】广电总局：电台电视台应在重要法定节日播放国歌</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】高校性教育课成"爆款" 老师都讲哪些"大尺度"内容?</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】vivo X20全面屏手机首销火爆 陈赫欧豪现身助力</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】“拒绝妻子手术”现场医生：病人丈夫被冤枉了</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】游客们注意了！国庆你要避开十大坑</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】他卖了1.5万双假货，现在面临10年牢狱！</a>
                            <a class="swiper-slide ep" href="udai_notice.html">【新闻】10月1日起国家再次提高部分优抚对象抚恤补助标准
                                烈属抚恤每年23130元</a>
                        </div>
                    </div>
                </div>
                <div class="buts-box bgf5">
                    <div class="but-div">
                        <a href="">
                            <i class="but-icon"></i>
                            <p>物流查询</p>
                        </a>
                    </div>
                    <div class="but-div">
                        <a href="item_sale_page.html">
                            <i class="but-icon"></i>
                            <p>热卖专区</p>
                        </a>
                    </div>
                    <div class="but-div">
                        <a href="item_sale_page.html">
                            <i class="but-icon"></i>
                            <p>满减专区</p>
                        </a>
                    </div>
                    <div class="but-div">
                        <a href="item_sale_page.html">
                            <i class="but-icon"></i>
                            <p>折扣专区</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(function () {
        //推荐
        $.ajax({
            url: "/shone_qt/sale/shone/products",
            type: "get",
            data: "json",
            success: function (data) {
                console.log(data.object);
                let len = data.object.length;
                if (data.status == 200) {
                    for (let i = 0; i < len; i++) {
                        $('#shouyebaokuantuijian').append("<a href=\"/nxzmqt/sale/shone_show?id=" + data.object[i].productId + "\" class=\"floor-item\">\n" +
                            "                        <div class=\"item-img hot-img\">\n" +
                            "                            <img src=\"" + data.object[i].mainImage + "\"class=\"cover\">\n" +
                            "                        </div>\n" +
                            "                        <div class=\"price clearfix\">\n" +
                            "                            <span class=\"pull-left cr fz16\">￥" + data.object[i].promotePrice + "</span>\n" +
                            "                            <span class=\"pull-right c6\">亲民价</span>\n" +
                            "                        </div>\n" +
                            "                        <div class=\"name ep\">"+data.object[i].productName+"</div>\n" +
                            "                    </a>")
                    }

                } else {
                    alert("信息获取失败")
                }
            },
            error: function () {
                alert("服务异常")
            }
        });
        $(document).ready(function () {
            // 顶部banner轮播
            var banner_swiper = new Swiper('.banner-box', {
                autoplayDisableOnInteraction: false,
                pagination: '.banner-box .swiper-pagination',
                paginationClickable: true,
                autoplay: 5000,
            });
            // 新闻列表滚动
            var notice_swiper = new Swiper('.notice-box .swiper-container', {
                paginationClickable: true,
                mousewheelControl: true,
                direction: 'vertical',
                slidesPerView: 10,
                autoplay: 2e3,
            });
            // 楼层导航自动 active
            $.scrollFloor();
            // 页面下拉固定楼层导航
            $('.floor-nav').smartFloat();
            $('.to-top').toTop({position: false});


            //判断是否登录
            $.ajax({
                url: "/shone_qt/login_info",
                type: "get",
                dataType: "json",
                success: function (data) {
                    // console.log(data.object);
                    if (data.object == null) {
                        $("#islogin").css("display", "none");
                        $("#notlogin").css("display", "block");
                    } else {
                        $("#islogin").css("display", "block");
                        $("#notlogin").css("display", "none");
                    }
                },
                error: function (data) {
                    alert("请求登录用户信息失败")
                }

            });


        });

    });


</script>