
<div class="content clearfix bgf5">
    <section class="user-center inner clearfix">
        <div class="pull-right">
            <div style="height: 280px;">
            <p style="color: skyblue;margin-left: 180px;font-size: 150px">sorry</p>
            <h4 style="margin-left: 300px">小吴正在努力制作中。。。</h4>
            <a id="goback" href="#" style="margin-left: 435px;text-decoration: none;">返回上一页</a>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $("#goback").on("click",function () {

        window.history.back();
    })
</script>
