<!--datatable组件-->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="/plugin/js/jquery.dataTables.min.js"></script>

<!--将datatable样式换成中文-->
<script type="text/javascript" src="/js/ch_datatables.js"></script>

<style>
    th {
        text-align: center;
    }

    /*tr{*/
    /*    height: 56px;*/
    /*}*/
    tr td {
        text-align: center;
        line-height: 70.4px;
    }

    a {
        color: black;
    }

    a:hover {
        color: greenyellow;
    }

    /*inline让div不占据一整行*/
    .dataTables_length {
        display: inline;
    }

    .dataTables_filter {
        display: inline;
        float: right;
    }

    .dataTables_info {
        display: inline;
    }

    #productstable_paginate {
        float: right;
        cursor: pointer;
    }
</style>

<main class="ftdms-layout-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h2>商品信息列表</h2>
                        <button type="button" class="btn btn-primary"
                                style="float: right" id="initUserAddbtn">添加商品
                        </button>
                    </div>
                    <div class="card-body">

                        <table id="productstable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <!--                                <th><input type="checkbox" id="allbox"></th>-->
                                <th>商品编号</th>
                                <th>名称</th>
                                <th>描述</th>
                                <th>原价</th>
                                <th>现价</th>
                                <th>库存</th>
                                <th>主图</th>
                                <th>分类</th>
                                <th>是否在售</th>
                                <th>品牌</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <!--                        <div th:replace="nxzm/product/productAdd"></div>-->
                        <!--                        <div th:replace="nxzm/product/productEdit"></div>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>


</main>
<script type="text/javascript">

    var DEFAULT_PAGE_SIZE = 5;
    $(function () {
        initProductTable(DEFAULT_PAGE_SIZE);
    })

    function initProductTable(pageSize) {

        $('#productstable').DataTable({
            'paging': true, //分页
            "serverSide": true, //开启后端分页
            "pagingType": "full_numbers", //分页样式的类型simple/simple_numbers/full/full_numbers
            "pageLength": pageSize, //定义初始的页长
            "processing": true,
            "destroy": true, //允许销毁替换，在表格重新查询时，可以自动销毁以前的data
            'lengthChange': true, //控制是否能够调整每页的条数
            'searching': true,
            'data-show-refresh': true,
            'ordering': true,
            'autoWidth': false,
            "ajax": function (data, callback, settings) {
                // 从data获取查询数据
                var columIndex = data.order[0].column;
                var sort = data.order[0].dir;
                var orderBy = data.columns[columIndex].name;
                pageSize = data.length == undefined ? pageSize : data.length;

                var searchVo = {};
                searchVo.currentPage = (data.start / pageSize) + 1;
                searchVo.pageSize = pageSize;
                searchVo.orderBy = orderBy;
                searchVo.sort = sort;
                searchVo.keyWord = data.search.value;

                $.ajax({
                    url: "/shone/product/products",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(searchVo),
                    success: function (rs) {
                        // console.log(rs);
                        var fData = {
                            draw: 0,
                            recordsTotal: 0,
                            recordsFiltered: 0,
                            data: []
                        };
                        if (!rs) {
                            layer.alert("请求出错，请稍后重试" + rs.errmsg, {icon: 2});
                            callback(fData);
                            return;
                        }
                        ;
                        if (rs.list == null) {
                            $('#userstable tbody tr').remove();
                            $('#loading').remove();
                            callback(fData);
                            return;
                        }
                        $('#loading').remove();
                        var gearDatas = [];
                        for (var i = 0; i < rs.list.length; i++) {
                            //包装行数据
                            var rowData = new TData(rs.list[i].productId, rs.list[i].productName,
                                rs.list[i].description, rs.list[i].originalPrice,
                                rs.list[i].promotePrice, rs.list[i].stock, rs.list[i].mainImage,
                                rs.list[i].category.name, rs.list[i].productStatus,
                                rs.list[i].brand.brandName);
                            // 将行数据放到数组里
                            gearDatas.push(rowData);
                        }
                        // console.log(gearDatas);
                        fData.data = gearDatas;
                        fData.recordsTotal = rs.total;
                        fData.recordsFiltered = rs.total;
                        callback(fData);
                    },
                    error: function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            },
            "columns": [ //定义行数据字段-->做排序用的
                {data: 'productId', name: "product_id", sortable: true},
                {data: 'productName', name: "product_name", sortable: true},
                {data: 'description', name: "description", sortable: true},
                {data: 'originalPrice', name: "original_price", sortable: true},
                {data: 'promotePrice', name: "promote_price", sortable: true},
                {data: 'stock', name: "stock", sortable: true},
                {data: 'mainImage', name: "main_image", sortable: true},
                {data: 'category', name: "product_type", sortable: false},
                {data: 'productStatus', name: "product_status", sortable: true},
                {data: 'band', name: "b_id", sortable: false},
                {data: 'operate', width: '157px', sortable: false}
            ]
        });

        $("#productstable_length").find("label")
    }


    //行数据结构
    function TData(productId, productName, description, originalPrice, promotePrice,
                   stock, mainImage, productType, productStatus, band) {
        this.productId = productId;
        this.productName = productName;
        this.description = description;
        this.originalPrice = originalPrice;
        this.promotePrice = promotePrice;
        this.stock = stock;
        this.mainImage = "<img width='50px' title='加载中...' height='50px' src='/upload/product/"+mainImage+"'>";
        // this.mainImage = mainImage;
        this.category = productType;
        this.productStatus = productStatus;
        this.band = band;
        this.operate = function () {
            return "<a href='#' class='btn btn-yellow' id='editUserBtn' " +
                "onclick='initproductModal(\"" + productId + "\")'>编辑</a>&nbsp;" +
                "<a href='javascript:void(0);' onclick='deleteUser(\"" + productId + "\")' " +
                " class='btn btn-warning'>启停用</a>&nbsp;"
                ;
        }
    }

    // //添加用户模态框
    // $("#initUserAddbtn").on("click", function initAddModal() {
    //     $("#userName").val("");
    //     $("#passWord").val("");
    //     $("#email").val("");
    //     $("#userAddModel").modal('show');
    //     $("#rUserAddBtn").on("click", function () {
    //         addUser();
    //     })
    // });
    //
    // //重置密码
    // function resetpassword(userId) {
    //     var sss=confirm("确认重置密码？重置前请和用户沟通！");
    //     if (sss){
    //     $.ajax({
    //         url: "/shone/password/" + userId,
    //         type: "put",
    //         success: function () {
    //             alert("密码重置成功！")
    //         },
    //         error:function () {
    //             layer.alert("系统异常，请稍后重试！", {icon: 0});
    //         }
    //
    //     });
    // }
    // }
    //
    // //添加用户
    // function addUser() {
    //     var user = {};
    //     //获取值
    //     user.userName = $("#userName").val();
    //     user.passWord = $("#passWord").val();
    //     user.email = $("#email").val();
    //     var sexvalue = $("input[name='sex']:checked").val();
    //     if (sexvalue == '1') {
    //         user.sex = "男"
    //     } else {
    //         user.sex = "女"
    //     }
    //
    //     $.ajax({
    //         url: "/shone/register",
    //         type: "post",
    //         contentType: "application/json",
    //         data: JSON.stringify(user),
    //         dataType: "json",
    //         success: function () {
    //             alert("添加成功，请让用户邮箱激活！");
    //             // initUserTable(DEFAULT_PAGE_SIZE);
    //         }
    //     })
    // };
    //
    //
    // function initRoles() {
    //     $("#editRoles").html("");
    //     $.ajax({
    //         url: "/shone/roles",
    //         type: "post",
    //         dataType: "json",
    //         success: function (data) {
    //             console.log(data);
    //             var rolesDiv = $("#editRoles");
    //             $.each(data, function (i, item) {
    //                 rolesDiv.append("<input type='checkbox' value='"
    //                     + item.roleId + " ' name='rolecheck'/>" + item.name + " ");
    //             });
    //
    //         }
    //     })
    //
    // }
    //
    // //修改用户信息模态框
    // function initEditModal(userId) {
    //     //获取所有权限
    //     initRoles();
    //     //获取用户拥有的所有信息
    //     $.ajax({
    //         url: "/shone/roles/" + userId,
    //         type: "post",
    //         dataType: "json",
    //         success: function (data) {
    //             // console.log(data);
    //             $("#editUserId").val(userId)
    //             $("#editUserName").val(data.object.userName);
    //             $("#editPhone").val(data.object.phone);
    //             $("#editEmail").val(data.object.email);
    //             $("#editReceiveAddress").val(data.object.editReceiveAddress);
    //             $.each(data.object.userRoles, function (i, item) {
    //                 // console.log(item);
    //                 $.each($("input[name='rolecheck']"), function (a, b) {
    //                     if (b.value == item.roleId) {
    //                         console.log(111);
    //                         $(this).prop("checked", "checked");
    //                     }
    //                 })
    //             })
    //
    //         }
    //     })
    //     $("#userEditModel").modal('show')
    // }
    //
    // $("#rUserEditBtn").on('click', function () {
    //     var userId = $("#editUserId").val();
    //     editUser(userId);
    // })
    //
    // function editUser(userId) {
    //     var user = {};
    //     user.userId = userId;
    //     user.userName = $("#editUserName").val();
    //     user.phone = $("#editPhone").val();
    //     user.email = $("#editEmail").val();
    //     user.receiveAddress = $("#editReceiveAddress").val();
    //     var roles = [];
    //     $.each($("input[name='rolecheck']:checked"), function () {
    //         var role = {};
    //         role.roleId = $(this).val();
    //         roles.push(role);
    //     });
    //     user.userRoles = roles;
    //
    //     $.ajax({
    //         url: "/shone/a_user",
    //         type: "put",
    //         contentType: "application/json",
    //         data: JSON.stringify(user),
    //         success: function (rs) {
    //             if (rs.status == 200) {
    //                 initUserTable(DEFAULT_PAGE_SIZE);
    //                 layer.alert("修改成功", {icon: 1});
    //             } else {
    //                 layer.alert(rs.messgae, {icon: 0});
    //             }
    //         },
    //         error: function (data) {
    //             layer.alert(data.responseText, {icon: 0});
    //         }
    //     });
    // }
    //
    //
    // //删除用户
    // function deleteUser(userId) {
    //     var sss=confirm("确认删除此用户？");
    //     if (sss){
    //         $.ajax({
    //             url: "/shone/user/" + userId,
    //             type: "delete",
    //             success: function () {
    //                 alert("用户删除成功！")
    //             },
    //             error: function () {
    //                 layer.alert("系统异常，请稍后重试！", {icon: 0});
    //             }
    //
    //         });
    //     }
    // }
</script>